@import url(settings.css);
@import url(header.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.main-grid {
    display: grid;
    grid-template-columns: 75% auto;
    margin: 0 20px;
}

#tilemap {
    display: grid;
    grid-template-columns: repeat(20, 50px);
    grid-template-rows: repeat(10, 50px);
}

.tile {
    border: 1px solid #000;
}

.second-grid {
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: red;
    margin-left: 10px;
}

#palette {
    height: 100%;
    width: 100%;
}

.palette-img-container {
    cursor: pointer;
    float: left;
    width: calc((100% - 100px) / 5);
    height: auto;
    position: relative;
    margin: 10px;
}

.palette-img-container > img {
    width: 100%;
    height: 100%;
}

.layers {
    background-color: blue;
}
