.gridContainer {
    width: 100%;
    height: 600px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--grid-background-color);
}

.gridRow {
    display: flex;
}

.gridCol {
    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.black {
    background-color: #404040;
}

.white {
    background-color: #616161;
}