.mainApp {
    display: flex;
    justify-content: space-between;
}

.gridContainer {
    width: var(--grid-container-width);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393053;
}

.paletteContainer {
    width: var(--palette-container-width);
    display: block;
}