:root {
	--palette-container-width: 350px;
	--grid-container-width: calc(100% - var(--palette-container-width));
}

* {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
}